* {
    margin: 0;
}

.topo, .rodape {
    background-color: #f97100;
    color: white;
    width: 100vw;
    text-align  : center;
    height:30px;
    padding: 18px 2px 10px 0;
    font-size: 22px;
    font-family: sans-serif;
    width: calc(100vw - 19px);
}

.img-capa {
    width: calc(100vw - 19px);
}

.conteudo {
    font-family: sans-serif;
    width:1024px;
    margin: 10px auto;
    max-width: 1024px;
}

.paragrafo {
    margin-bottom: 0;
}

h1, p {
    margin: 30px auto;
}

h1 {
    text-align: center;
}

p {
    width: 100%;
    line-height: 1.9;
}

.flexivel {
    display: flex;
}

.poke {
    margin: 0 30px 0 0;
    background-color: #ffb500;
    box-shadow: inset 0 0 15px 12px #ed8317;
    height: 370px;
    width: calc(100% / 3);
    color: #fff;
    border-radius: 10px;
}

.poke img {
    height: 150px;
    width: 150px;
    margin: 10px 80px;
}

.poke ul {
    font-size: 18px;
    font-family: sans-serif;
    line-height: 32px;
    margin: auto 10px 50px 0;
}

.poke h2 {
    margin: 25px 20px 10px 20px;
    font-size: 29px;
}

.galeria {
    overflow-x: scroll;
    margin: 0 auto 40px auto;
}

.galeria img {
    height: 200px;
    width: 315px;
    margin: 10px;
    max-width: 1024px;
    box-shadow: 10px 10px 10px grey;
}


.final {
    margin: 0 auto;
}